.activity-script-viewer {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  min-height: 300px;
  font-size: 32px;
  outline: 0;
  white-space: pre-wrap;
}

.activity-script-viewer .completed {
  color: green;
}

.activity-script-viewer .pending {
}

.activity-script-viewer .pending span {
  color: red;
  background-color: yellow;
}

.error-mark{
  color: #008000;
  background-color: rgba(0, 128, 0, 0.14);
  border: 1px dotted #008000;
  cursor: help;
}
