.activity-script-viewer {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  min-height: 300px;
  font-size: 32px;
  outline: 0;
  white-space: pre-wrap;
}

.activity-script-viewer .completed {
  color: green;
}

.activity-script-viewer .pending {
}

.activity-script-viewer .pending span {
  color: white;
  background-color: green;
}

.error-mark{
  color: #801B00;
  cursor: help;
  box-sizing: border-box;
  border-bottom: 2px dotted #801B00;
}
