.editor {
  padding: 50px;
  min-height: 300px;
  font-size: 27px;
  outline: 0;
  white-space: pre-wrap;
}

.editor .completed {
  color: green;
}

.editor .pending {
}

.editor .pending span {
  color: red;
  background-color: yellow;
}
